<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon icon-only (click)="addContact()" name="add"></ion-icon>
    </ion-buttons>
    <ion-title>
      Rolodex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let contact of user.contacts; let index = index;" (click)="goToEditPage(index)">
      {{contact.name}}
      <ion-icon name="remove" slot="end" (click)="deleteContact(index)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
