.swiper-container {
   width: 100%;
   height: 100%;
}

.card-position {
  margin-top: -25px;
  height: 100%;
}

.blank-card {
   height:155px;
   width:350px;
   margin-right:-33px;
}

 .no-data-msg {
    font-size: 1.0em;
    position: absolute;
    top: 45%;
    width: 100%;
    color: #black;
 }

.chip-btn {
  position: absolute;
  right: 15px;

}

ion-header {
  color: transparent;
}
