<ion-content>

  <ion-list>

    <ion-card button style="height:auto;width:auto;" [routerLink]="['/card', card.id]" *ngFor="let card of cards" lines="none">
        <img [src]="card.frontImg" alt=""/>
    </ion-card>

    <div class="floating-fab-btn">
      <ion-fab vertical="top" horizontal="start" edge slot="fixed" class="ion-padding">
        <ion-fab-button size="small" (click)="createCard()">
          <ion-icon name="add" size="small"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
      <ion-card class="ion-padding">
          <ion-avatar slot="start">
            <img src="./assets/imgs/avatar.svg">
          </ion-avatar>
        <div style="position:relative;right:20px;bottom:43px;height:1px;">
          <hr width="25%">
          <hr width="35%">
          <hr width="30%">
        </div>
        <ion-label>
          <hr width="55%">
          <hr width="50%">
          <hr width="25%">
          <hr width="15">
        </ion-label>
        <ion-icon name="square-outline" size="large"></ion-icon><ion-icon name="square-outline" size="large"></ion-icon><ion-icon name="square-outline" size="large"></ion-icon>
      </ion-card>
  </ion-list>


</ion-content>



