 <ion-content>
    <ion-card>
    <ion-avatar class="image">
      <img src="./assets/imgs/Beach.jpg" />
    </ion-avatar>
    <ion-card-header>
      <ion-card-subtitle>Creative Artist</ion-card-subtitle>
      <ion-card-title>Brandon Stuart</ion-card-title>
   </ion-card-header>
    </ion-card>
  </ion-content>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let key of keys" lines="none">
      {{key.toUpperCase()}} : {{user[key]}}
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="camera"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="easel"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="goToEditPage()"><ion-icon name="card"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
