<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="userForm">

    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
<br>
    <label>
      Company:
      <input type="text" formControlName="company">
    </label>
<br>
    <label>
      Role:
      <input type="text" formControlName="role">
    </label>
<br>
    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
<br>
    <ion-button type="submit" [disabled]="!userForm.valid" (click)="onSubmit()">
      Save
    </ion-button>

  </form>

</ion-content>
