<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="dataForm">

    <ion-list>
      <ion-item *ngFor="let key of keys" lines="none">

        <label>
          {{key.toUpperCase()}} :
          <input type="text" formControlName="{{key}}">
        </label>

      </ion-item>
    </ion-list>

    <ion-button type="submit" [disabled]="!dataForm.valid" (click)="onSubmit()">
      Save
    </ion-button>

  </form>

</ion-content>
