<div *ngIf="isCardFound">
<ion-header>
  <ion-chip color="danger" class="chip-btn ion-padding">
    <ion-label (click)="cancel()">Cancel</ion-label>
  </ion-chip>

  <ion-chip color="secondary" class="roll-btn ion-padding">
    <ion-label (click)="launchNFC()">Roll</ion-label>
  </ion-chip>
</ion-header>
</div>

<ion-content>
  <div *ngIf="!isCardFound">
    <img src="./assets/imgs/NothingToShow.png" class="ld ld-breath no-card-img" (click)="selectCard()"/>
    <div class="msg ion-padding">
      <ion-text>
        <p>No card has been selected to send. You must first create and save a card.
          Then when you're ready, tap here to select a card to send.
        </p>
      </ion-text>
    </div>
  </div>

  <div *ngIf="isCardFound">
    <div class="roll-gesture">
      <ion-img src="./assets/imgs/Swipefinger.gif"></ion-img>
    </div>
    <div class="roll-header ld ld-jump">
     <ion-img src="./assets/imgs/SwipeUp.gif"></ion-img>
    </div>
    <div class="card-position">
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
          <ion-card>
            <img [src]="frontImg" alt=""/>
          </ion-card>
        </ion-slide>

        <ion-slide *ngIf="cardDataBack">
          <ion-card>
            <img [src]="cardDataBack" alt=""/>
          </ion-card>
        </ion-slide>

        <ion-slide *ngIf="!cardDataBack">
          <ion-card>
            <img src="./assets/imgs/blankBackground.jpg" class="blank-card" alt=""/>
            <div class="no-data-msg">No image saved</div>
          </ion-card>
        </ion-slide>

      </ion-slides>
    </div>
  </div>

</ion-content>

