<ion-content>
  <div *ngIf="!isCardFound">
    <img src="./assets/imgs/NothingToShow.png" class="ld ld-breath no-card-img" (click)="selectCard()"/>
    <div class="msg ion-padding">
      <ion-text>
        <p>No card has been selected to send. You must first create and save a card.
          Then when you're ready, tap here to select a card to send.
        </p>
      </ion-text>
    </div>
  </div>

  <div *ngIf="isCardFound" class="msg ion-padding">
    <ion-text color="tertiary">
      <h5>
        Is this the card you wish to send?
      </h5>
    </ion-text>
    <br>
    <br>
    <ion-card class="ld ld-swim">
      <img [src]="frontImg" alt=""/>
    </ion-card>
  </div>
</ion-content>

<ion-footer *ngIf="isCardFound" class="ion-no-border">
  <ion-button expand="full" fill="outline" color="success" (click)="cardModal()">Yes</ion-button>
  <ion-button routerDirection="back" expand="full" fill="outline" color="danger" (click)="selectCard()">No</ion-button>
</ion-footer>

