@import '~@loadingio/loading.css/dist/loading.css';

.no-card-img {
  position: relative;
  left: 50%;
  margin-top: 100px;
  margin-left: -65px;
  height: 125px;
}

.msg {
  text-align: center;
  font-size: 13px;
}
