<ion-content class="card-background-page">
  <ion-slides pager="false" [options]="slideOpts" class="rolodex-container">
    <ion-slide button [routerLink]="['/contact', card.owner]"  *ngFor="let card of cards" lines="none">

    <ion-item lines="none">
      <ion-card>

        <ion-card-header>
          <ion-img [src]="card.frontImg"></ion-img>
          <ion-card-title>
            Name: {{card.name}}
          </ion-card-title>
          <ion-card-subtitle>
            Id: {{card.id}}
          </ion-card-subtitle>
          Owner: {{card.owner}}
        </ion-card-header>
        <ion-card-content>


          <div>
            <ion-icon name="logo-instagram" size="large"></ion-icon>
            <ion-icon name="logo-facebook" size="large"></ion-icon>
            <ion-icon name="logo-linkedin" size="large"></ion-icon>
          </div>

        </ion-card-content>
      </ion-card>
    </ion-item>



    <ion-item *ngFor="let staticCard of staticCards" lines="none">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Name: {{staticCard.name}}
          </ion-card-title>
          <ion-card-subtitle>
            Id: {{staticCard.id}}
          </ion-card-subtitle>
            Owner: {{staticCard.owner}}
          </ion-card-header>
        <ion-card-content>
          <ion-img [src]="staticCard.frontImg"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-item>


    </ion-slide>
  </ion-slides>
</ion-content>


