 <ion-toolbar>
   <ion-searchbar showCancelButton="focus" animated></ion-searchbar>
  </ion-toolbar>

<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>

  </ion-card>


  <ion-card href="/contact">
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  </ion-card-content>

</ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-buttons slot="start">
        <ion-button (click)="goToContactPage(contactData.id)">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteContact(contactData.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-card-content>
  </ion-card>


  <ion-list>
    <ion-item *ngFor="let contactData of contactDataList" lines="none">
      {{contactData.name}}
    </ion-item>
  </ion-list>

</ion-content>


