<ion-content class="card-background-page">

    <ion-item *ngFor="let card of cards" lines="none">
      <ion-card>

        <ion-card-header>
          <ion-card-title>
            Name: {{card.name}}
          </ion-card-title>
          <ion-card-subtitle>
            Id: {{card.id}}
          </ion-card-subtitle>
          Owner: {{card.owner}}
        </ion-card-header>
        <ion-card-content>
          <ion-img [src]="card.frontImg"></ion-img>

          <ion-buttons slot="start">
            <ion-button [routerLink]="['/contact', card.owner]">
              <ion-icon name="eye"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item *ngFor="let staticCard of staticCards" lines="none">
      <ion-card>

        <ion-card-header>
          <ion-card-title>
            Name: {{staticCard.name}}
          </ion-card-title>
          <ion-card-subtitle>
            Id: {{staticCard.id}}
          </ion-card-subtitle>
            Owner: {{staticCard.owner}}
          </ion-card-header>
        <ion-card-content>
          <ion-img [src]="staticCard.frontImg"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-item>
</ion-content>


