.google-logo {
  width: 50%;
  height: 50%;
  margin-right: 15px;
  margin-left: auto;
}

.google-icon {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 10px;
  --background: white;
  --color: #504D4D;
  --background-hover: white;
}

.google-btn-txt {
  margin-right: 40px;
  margin-left: auto;
}

.fb-logo {
  width: 50%;
  height: 50%;
  margin-right: 13px;
  margin-left: auto;
}

.fb-icon {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 10px;
  --background: #4267B2;
  --color: #fff;
  --background-hover: #4267B2;
}

.fb-btn-txt {
  margin-right: 24px;
  margin-left: auto;
}

.linkedin-logo {
  width: 50%;
  height: 50%;
  margin-right: 10px;
  margin-left: auto;

}

.linkedin-icon {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 10px;
  --background: #0073b1;
  --color: #fff;
  --background-hover: #0073b1;
}

.linkedin-btn-txt {
  margin-right: 33px;
  margin-left: auto;
}

.divider {
    display: flex;

    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}

.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;

    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
}

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}

.signup-method {
   --border-color: #F4F4F4;
   --border-width: 2px;
   --border-radius: 12px;
   --border-box: 12px;
}

.next-btn {
  color: #03087A;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
}

a.signin {
  color: #03087A;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
}

a.signin:hover {
  color: #03087A;
}
