.img  {
  width: 40%;
  height: 35%;
}

.fblogo {
  width: 30%;
  height: 30%;
}

.googlelogo {
  width: 20%;
  height: 20%;
  margin-right: 110px;
  margin-left: 110px;
}

.linkedinlogo {
  width: 19%;
  height: 20%;
  margin-left: 205px;
  margin-top: -70px;
}
