<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signup"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img src="./assets/imgs/floatinglogo.jpg" class="applogo" padding></ion-img>
  </div>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div>
          <ion-img src="./assets/imgs/googlelogo.jpg" class="googlelogo"></ion-img>
        </div>
        <div>
          <ion-img src="./assets/imgs/facebooklogo.png" class="fblogo"></ion-img>
          <ion-img src="./assets/imgs/linkedinlogo.png" class="linkedinlogo"></ion-img>
        </div>
        <div class="span">~OR~</div>
        <div class="span">
          <ion-item>
            <ion-input type="text" placeholder="Phone, email, or username" class="custom-text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password" class="custom-text"></ion-input>
          </ion-item>
          <br>
          <ion-button expand="block" (click)="createAccount()" shape="round">Create Account</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
  </ion-toolbar>
</ion-footer>
