.ios, .md {

     ion-content {
        background-image: url("../../assets/imgs/BG_forDev_v01.png");
        background-size: cover;


     }
     page-splash {

          .scroll-content {
              display: flex;
              justify-content: center;
              align-items: center;
          }

          #logoSplash {
            width: auto;
            height: auto;
            margin: auto;

          }

          .splashContainer{
            width: 50%;
            padding: 10% 0 0;
            margin: 0 auto;
            position: relative;
            display: flex;


          }

          .button {
            font-family: 'Roboto', sans-serif;
            margin: auto;
            color: white;
            background-color: transparent;
            border: none;
            padding: 10px 30px;
            font-size: 12px;
            display: flex;



            .button:hover {
              box-shadow: 0px 8px 10px 0 rgba(0,0,0,0.10), 0 12px 14px 0 rgba (0,0,0,0.08);

            }
          }
     }
}




