<div class="msg ion-padding">
<ion-text color="tertiary">
  <h5>
    Select a Card to Roll!
  </h5>
</ion-text>
</div>

<ion-content class="card-background-page">
  <ion-slides pager="false" [options]="slideOpts" class="card-container">
    <ion-item button [routerLink]="['/home/exchange', card.id]" *ngFor="let card of cards" lines="none" (click)="dismissModal()">
      <ion-slide>
        <ion-card>
          <img [src]="card.frontImg" alt=""/>
        </ion-card>
      </ion-slide>
    </ion-item>
  </ion-slides>
</ion-content>
