page-home {

     .player {
        margin-top: -2100px;
        margin-bottom: 300px;
        width: 100%;
        margin-left: 720px;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;





     }




}
