<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="span">
  <br>
  Roll.me is a social networking platform tool designed to revolutionize the routine practice of
  exchanging business cards and the difficult task of maintaining a professional rolodex.
  Endeavoring to liberate conventional networking ideals, Roll.me is effectively where business cards
  come to socialize because networking in the digital age should be just as innovative, empowering and
  exciting as technology has become for the world.
  <br>
  <br>
  With core features allowing a user to create and exchange digital business cards that reflect the most
  up-to date information through digital synchronization of their rolodex, this mobile application helps
  reduce waste and eliminates the headache of shuffling through a stack of business cards for contact
  information of an acquaintance met weeks, months or years ago.
  <br>
  <br>
  The application interface is intended to promote collaboration between diverse industry professionals
  and boost productivity by capturing multifaceted content in a single contact lessening the potential
  for sensory overload from a virtually unending media feed.

</ion-content>
