<ion-toolbar class="header"></ion-toolbar>

<ion-grid>
   <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div>
        <ion-img src="./assets/imgs/login.png"></ion-img>
      </div>
      <div padding class="span">

        <ion-item>
          <ion-input type="text" placeholder="Phone, email, or username" class="custom-text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Password" class="custom-text"></ion-input>
        </ion-item>
        <br>
        <ion-button expand="block" (click)="login()" shape="round">Login</ion-button>
        <a class="password" href="">Forgot password?</a>
      </div>


    </ion-col>
  </ion-row>
</ion-grid>

<ion-footer>
  <ion-toolbar class="footer">
    <a class="signup" href="">Don't have an account? Sign up!</a>
  </ion-toolbar>
</ion-footer>

