<div *ngIf="showSplash" class="splash">
  <div class="spinner"></div>
</div>
<ion-app>
  <ion-split-pane contentId="main-content">
    <div id="main-content">
    <ion-menu side="end" contentId="my-content">
      <div id="my-content"></div>
      <div class="user-info">


        <ion-toolbar>
          <ion-title slot="start">
            <ion-avatar button (click)="capturePhoto()">
              <ion-img src="./assets/imgs/avatar.png"></ion-img>
            </ion-avatar>
            Brandon Lee
          </ion-title>
        </ion-toolbar>

    </div>
      <br>
      <br>
      <ion-content>

        <ion-menu-toggle auto-hide="false">
          <ion-item button [routerDirection]="'root'" (click)="goToHomePage()" lines="none">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>
              Home
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item button [routerDirection]="'root'" (click)="rollout()" lines="none">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>
              Roll Out
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-app>
