// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

.span {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.header {
    --background: #D54747;
    --color: #fff;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
}


.footer{
  --background: #D54747;
  text-align: center;
}

.footer-text {
  color: white;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
 }

.custom-text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    --color: #D54747;
}

.applogo {
  width: 29%;
  height: 29%;
  margin: auto;
  display: block;
}

.error{
  font-size: 11px;
  color: red;

}

