
<ion-content class="card-image">
    <ion-card button (click)="openCameraFront()" style="height:auto;weight:auto;">
      <img ng-show="isFrontCaptured" [src]="card.frontImg" alt=""/>
      <div *ngIf="!card.id" [hidden]="isFrontCaptured" >
        <br>
        <br>
        <br>
        <ion-icon name="camera" size="large"></ion-icon>
        <br>
        <br>
        <br>
        <br>
      </div>
    </ion-card>

  <ion-card *ngIf="!card.id" button (click)="openCameraBack()" style="height:auto;weight:auto;">
    <img ng-show="isBackCaptured" [src]="card.backImg" alt=""/>
    <div [hidden]="isBackCaptured">
      <br>
      <br>
      <br>
      <ion-icon name="camera" size="large"></ion-icon>
      <br>
      <br>
      <br>
      <br>
    </div>
  </ion-card>

  <ion-card *ngIf="card.id" button (click)="openCameraBack()" style="height:auto;weight:auto;">
    <img ng-show="isBackCaptured" [src]="card.backImg" alt=""/>
    <div [hidden]="isBackCaptured">
      <br>
      <br>
      <br>
      <ion-icon name="camera" size="large"></ion-icon>
      <br>
      <br>
      <br>
      <br>
    </div>
  </ion-card>


  <ion-button *ngIf="!card.id" size="small" (click)="saveCard()" shape="round" color="primary" class="save-btn" [disabled]="!isFrontCaptured" padding>
    Save
  </ion-button>
</ion-content>


<ion-footer *ngIf="card.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteCard()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateCard()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

