.card-image {

  ion-card {
    position: relative;
    text-align: center;
  }
}

.btn-color {
  color: #fff;
}

.instructions {
  color:#0C62BB;
  text-align: center;
}

.save-btn {
  width:100px;
  margin:0 50%;
  position:relative;
  left:-50px;
  margin-top:-20px;
}
