<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-image">
    <ion-card button (click)="openCameraFront()" style="height:auto;weight:auto;">
      <img *ngIf="frontImg!==null" [src]="frontImg" alt=""/>
      <div *ngIf="!frontImg" >
        <br>
        <br>
        <br>
        <ion-icon name="camera" size="large"></ion-icon>
        <br>
        <br>
        <br>
        <br>
      </div>
    </ion-card>

  <ion-card button (click)="openCameraBack()" style="height:auto;weight:auto;">
    <img *ngIf="backImg!==null" [src]="backImg" alt=""/>
    <div *ngIf="!backImg">
      <br>
      <br>
      <br>
      <ion-icon name="camera" size="large"></ion-icon>
      <br>
      <br>
      <br>
      <br>
    </div>
  </ion-card>


  <ion-button *ngIf="!id" size="small" (click)="saveCard()" shape="round" color="primary" class="save-btn"
              [disabled]="!(frontImg || backImg)" padding>
    Save
  </ion-button>
</ion-content>


<ion-footer *ngIf="id!==null">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteCardAlert()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateCard()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

